// main styles

.clear {
	clear: both;
}

.state-link .active {
	background-color: yellow;
}

.demo, .template, .controller {
	border: 1px solid #999;
	margin: 2em;
}

.template, .controller {
	font-family: monospace;
}