
nav, main {
	display: inline-block;
}

nav {
	vertical-align: top;
	margin-right: 5%;
}

main {
	margin: auto 5%;
}

article {
	min-height: 10em;
}

.state-link .active {
	background-color: yellow;
}

.codeblock {
	padding: 1em;
	margin: 1em auto;
	border: 1px solid #999;
	font-family: monospace;
}
